@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #eeeff1;
  font-family: poppins, 'sans-serif';
}

.profile__border {
  border: 6px solid #427e43;
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}

a {
  color: #3090ff;
  text-decoration: none;
  position: relative;
}
